<!DOCTYPE html>
<html>

<head>
</head>
<body>
	Define your campaign<br>
	<form action="/createCampaign" method="post">
		Campaign Name:<br>
		<input type="text" name="html_campaignid"><br>
		Centroid:<br>
		<input type="text" name="html_centroid"><br>
		Start Date:<br>
		<input type="text" name="html_startdate"><br>
		End Date:<br>
		<input type="text" name="html_enddate"><br>
		Default Zoom:<br>
		<input type="text" name="html_defaultzoom" value="13"><br>
		<input type="submit" value="Submit form">
	</form>
</body>
</html>