<!DOCTYPE html>
<html>

<head>
</head>
<body>
	<h1>{{ campaignid }}</h1>
	<h3>Campaign Meta:</h3>
	<form action="/DR/updateCampaign/{{ campaignid }}" method="post">
		Campaign Name:<br>
		<input type="text" name="html_campaignid" value="{{ campaignid }}" readonly="readonly"><br>
		Centroid:<br>
		<input type="text" name="html_centroid" value="{{ centroid }}"><br>
		Bounding Box:<br>
		<input type="text" name="html_bb" value="{{ bb }}"><br>
		Start Date:<br>
		<input type="text" name="html_startdate" value="{{ startdate }}"><br>
		End Date:<br>
		<input type="text" name="html_enddate" value="{{ enddate }}"><br>
		Default Zoom:<br>
		<input type="text" name="html_defaultzoom" value="{{ defaultzoom }}"><br>
		{% if active == '1' %}
		<input type="checkbox" name="html_active" value="1" checked="checked">Enabled<br>
		{% else %}
		<input type="checkbox" name="html_active" value="1">Enabled<br>
		{% endif %}
		<input type="submit" value="Change Meta">
	</form>
	<h3>Media:</h3>	
	<form action="/DR/updateCampaignMedia/{{ campaignid }}" method="post">
	<table>
		<tr>
			<td>MediaID</td>
			<td>URL</td>
			<td>Type</td>
			<td>Geo-Point</td>
			<td>Geo-Shape</td>
			<td>Params</td>
			<td>Enabled</td>
		</tr>
	{% for mediaEntry in campaignMedia %}
		<tr>
			<td>{{ mediaEntry[2] }}</td>
			<td><input type="text" name="{{ mediaEntry[1] }}_mediaURL" value="{{ mediaEntry[3] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1] }}_mediaType" value="{{ mediaEntry[4] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1] }}_geopoint" value="{{ mediaEntry[5] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1] }}_geoshape" value="{{ mediaEntry[6] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1] }}_params" value="{{ mediaEntry[7] }}"></td>
			{% if mediaEntry[8] == 1 %}
			<td><input type="checkbox" name="{{ mediaEntry[1] }}_active" value="1" checked="checked">Enabled<br></td>
			{% else %}
			<td><input type="checkbox" name="{{ mediaEntry[1] }}_active" value="1">Enabled<br></td>
			{% endif %}
		</tr>
	{% endfor %}
	<tr>
		<td><input type="submit" value="Update Media"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>
	</form>
	<h3>Register Another Media:</h3>
	<form action="/DR/addMedia" method="post">
		<input type="hidden" name="html_campaignid" value="{{ campaignid }}">
		Media Name:<br>
		<input type="text" name="html_mediaid"><br>
		Media URL:<br>
		<input type="text" name="html_mediaURL"><br>
		Media Type:<br>
		<input type="text" name="html_mediaType"><br>
		Geo-Point:<br>
		<input type="text" name="html_geopoint"><br>
		Geo-Shape:<br>
		<input type="text" name="html_geoshape"><br>
		Params:<br>
		<input type="text" name="html_params"><br>
		<input type="submit" value="Register Media">
	</form>
	<br>
	<a href="/DR/listCampaigns">Campaign List</a>
</body>
</html>