<!DOCTYPE html>
<html>

<head>
</head>
<body>
	<h1>{{ campaignid }}</h1><br><br>
	<form action="/DR/updateCampaign/{{ campaignid }}" method="post">
		Campaign Name:<br>
		<input type="text" name="html_campaignid" value="{{ campaignid }}" readonly="readonly"><br>
		Centroid:<br>
		<input type="text" name="html_centroid" value="{{ centroid }}"><br>
		Start Date:<br>
		<input type="text" name="html_startdate" value="{{ startdate }}"><br>
		End Date:<br>
		<input type="text" name="html_enddate" value="{{ enddate }}"><br>
		Default Zoom:<br>
		<input type="text" name="html_defaultzoom" value="{{ defaultzoom }}"><br>
		{% if '1' in active %}
		<input type="checkbox" name="html_active" value="1" checked="checked">Enabled<br>
		{% else %}
		<input type="checkbox" name="html_active" value="1">Enabled<br>
		{% endif %}
		<input type="submit" value="Change Meta">
	</form>

	<form action="/DR/updateCampaignMedia/{{ campaignid }}" method="post">
	<table>
	{% for mediaEntry in campaignMedia %}
		<tr>
			<td>mediaEntry[1]</td>
			<td><input type="text" name="{{ mediaEntry[1]_mediaURL }}" value="{{ mediaEntry[2] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1]_mediaType }}" value="{{ mediaEntry[3] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1]_geopoint }}" value="{{ mediaEntry[4] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1]_geoshape }}" value="{{ mediaEntry[5] }}"></td>
			<td><input type="text" name="{{ mediaEntry[1]_bb }}" value="{{ mediaEntry[6] }}"></td>
			{% if '1' in mediaEntry[7] %}
			<td><input type="checkbox" name="{{ mediaEntry[1]_active }}" value="1" checked="checked">Enabled<br></td>
			{% else %}
			<td><input type="checkbox" name="{{ mediaEntry[1]_active }}" value="1">Enabled<br></td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	</form>
	<br>
	<a href="/DR/listCampaigns">List</a>
</body>
</html>